body{
    background:black;
    color:white;
    font-size: 16px;
    line-height: 35px;
    font-family: 'Fjalla One', sans-serif;
}

h1,h2{
    line-height: normal;
}
h2, button{

    font-size:2rem;
}

p{
    font-family: 'Spectral', serif;
}

header{
    display: flex;
    justify-items: flex-end;
    align-items: center;
    padding: 20px;
    font-size:3rem;
    height: 150px;
}

.fullPhoto{
    display:none;
    margin:auto;
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    overflow: auto;
       
}


.explore{
    color:rgba(255, 255, 0, 0.678);

}
.singlePhoto{
    display:flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    cursor: pointer;
    width: auto;
    height: 300px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
       
}


.singlePhoto p{
position: absolute;
bottom:2px;
right: 10px;
}    

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    padding: 10px;
  }
  .grid-item {
    
    padding: 20px;
    text-align: center;
    height: auto;
  }

.explanation{
    text-align: justify;
}


.next_picture{
    cursor: pointer;
    width: auto;
    height: 20px;
    overflow: hidden;
    
    }
    

